db/shelve.db
db/shelve_telegram_cache.db
db/yourcast.db

log/*
!log/.keep

constants.py
constant_texts.py

webhook_cert.pem
webhook_pkey.pem

__pycache__/
venv

records/*

telethon_sessions/*
!telethon_sessions/.keep
*.session*

backup/*

.idea
.DS_Store
.tool-versions
